@using HeroHQ_Dynamic.Models

<!-- Model utilisé par la View pour afficher le héros -->
@model Hero

<div class="col-xs-6 col-sm-3 hero">
    <a href="/Hero/Details/@Model.Id">
        <img src="/images/@Model.Photo" alt="@Model.Nom" height="175" width="150">
        <div class="bot">
            <p class="name">@Model.Nom</p>
        </div>
    </a>
</div>
