@model HeroHQ_Dynamic.ViewModels.HeroSearchViewModel

<div class="col-xs-12">
    @if (Model == null || Model.herolist == null || Model.herolist.Count == 0)
    {
        <p class="col-xs-12 blank">Aucun Hero ne correspond à votre recherche</p>
    }
    else
    {
        foreach (var item in Model.herolist)
                {
            <div class="col-xs-6 col-sm-3 hero">
                <a href="/Hero/details/@item.Id">
                    <img src="/images/@item.Photo" alt="@item.Nom" height="175" width="150">
                    <div class="bot">
                        <p class="name">@item.Nom</p>
                    </div>
                </a>
            </div>
        }
    }
</div>