@model HeroHQ_Dynamic.ViewModels.HeroSearchViewModel

<div class="col-xs-12">
    @if (Model == null)
    {
        @*<p class="col-xs-12 blank">Faites votre recherche!</p>*@
    }
    else if (Model.herolist.Count == 0)
    {
        <div class="heroes row">
            <div class="result">
                <p class="col-xs-12 blank">Aucun Hero ne correspond à votre recherche</p>
            </div>
        </div>
    }
    else
    {
        <div class="heroes row">
            <div class="result">
                @foreach (var item in Model.herolist)
                {
                    <div class="col-xs-6 col-sm-3 hero">
                        <a href="/Hero/details/@item.Id">
                            <img src="/images/@item.Photo" alt="@item.Nom" height="175" width="150">
                            <div class="bot">
                                <p class="name">@item.Nom</p>
                            </div>
                        </a>
                    </div>
                }
            </div>
        </div>
    }
</div>

<!--<div class="row showmore">
    <div class="col-xs-12">
        <button type="button" class="btn btn_color1"><span class="glyphicon glyphicon-chevron-down"></span>Afficher d'avantage</button>
    </div>
</div>-->
