@using HeroHQ_Dynamic.Models;

<!-- Ici le model utilisé par la View ne sert pas directement à afficher
     des informations, mais est utilisée dans la vue partielle -->
@model List<Hero>

<!-- Search -->
<div class="col-xs-12 col-sm-9">
    <div class="content" id="content_search">
        <h1 class="page-title">Tout les héros</h1>
        <div class="row">
            <div class="col-xs-12">
                <div class="panel">
                    <div class="row imgback">
                        <div class="hidden-xs col-sm-3"></div>
                        <div class="col-xs-12 col-sm-9 fp">
                            <div class="filters">

                                <div class="filters" id="filters">
                                    <!-- Formulaire de recherche -->
                                    @using(Html.BeginForm("Search", "Hero"))
                                    {
                                        <div class="filter">
                                            <p><label for="">Nom du héro</label></p>
                                            <p><input type="text" name="heroName" id="heroName" placeholder="ex: Reaper"></p>
                                        </div>
                                        <button type="submit" class="btn btn_big btn_color1" value="Submit" id="SubmitBtn">
                                            Trouver un héro
                                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                        </button>
                                    }
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <!-- Affichage du résultat de la recherche -->
                <div class="result">
                    <div class="heroes row" id="HeroResult">
                        <div class="col-xs-12">
                            <!-- Si le modèle est null ou vide, la recherche à été infructueuse -->
                            @if (Model == null || Model.Count == 0)
                            {
                                <p class="col-xs-12 blank">Aucun Hero ne correspond à votre recherche</p>
                            }
                            else
                            {
                                <!-- Sinon on affiche le(s) héro(s) grâce à une vue partielle -->
                                foreach (var hero in Model)
                                {
                                    @Html.Partial("_Hero", hero)
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
